body{
    background: rgb(235,217,225);
background: radial-gradient(circle, rgba(235,217,225,1) 0%, rgba(66,84,105,1) 100%);
color: beige;
}
.card {
    width: 18rem;
    margin: 1rem;
  }
  
  .card-img-top {
    height: 10rem;
    object-fit: cover;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .card-text {
    font-size: 0.9rem;
  }
  

  .h1 {
    font-size: 3rem;
    color: red;
  }
  
  .lead {
    font-size: 1.5rem;
    margin: 2rem 0;
  }

  
  